
\.vs/Alumni CRM/v15/\.suo

\.vs/Alumni CRM/v15/Server/sqlite3/storage\.ide-shm

\.vs/Alumni CRM/v15/Server/sqlite3/storage\.ide-wal

Alumni CRM/bin/Alumni CRM\.dll

Alumni CRM/bin/Alumni CRM\.pdb

Alumni CRM/obj/Debug/Alumni CRM\.dll

Alumni CRM/obj/Debug/Alumni CRM\.pdb
